In [1]:
import pandas as pd
import numpy as np
import datetime
import csv

In [2]:
df = pd.read_csv('megaMillion.csv')

In [7]:
# 1885 rows × 4 columns
winningnum = np.fromstring(df.iloc[-1,1],dtype=int,sep=' ')

array([21, 23, 33, 35, 42])

In [16]:
df.shape[0]

1885

In [120]:
# winning nums to np
winnumnp = np.zeros(shape=(1,5))
for i in df.index: 
    # arr = np.fromstring(df.iloc[i,1],dtype=int,sep=' ')
    # winnumnp = np.stack(winnumnp, np.fromstring(df.iloc[i,1],dtype=int,sep=' ').reshape(1,5))
    winnumnp = np.vstack((winnumnp, np.fromstring(df.iloc[i,1],dtype=int,sep=' ').reshape(1,5)))

In [21]:
df.iloc[:,1]

0       15 18 25 33 47
1       04 28 39 41 44
2       02 04 32 44 52
3       06 21 22 29 32
4       12 28 45 46 52
             ...
1880    09 20 23 26 29
1881    32 35 37 47 55
1882    01 05 09 10 23
1883    09 14 57 67 70
1884    21 23 33 35 42
Name: Winning Numbers, Length: 1885, dtype: object

In [118]:
winnumnp.shape

(1886, 5)

In [121]:
winnumnp

array([[ 0.,  0.,  0.,  0.,  0.],
       [15., 18., 25., 33., 47.],
       [ 4., 28., 39., 41., 44.],
       ...,
       [ 1.,  5.,  9., 10., 23.],
       [ 9., 14., 57., 67., 70.],
       [21., 23., 33., 35., 42.]])

In [90]:
df

       Draw Date Winning Numbers  Mega Ball  Multiplier
0     05/17/2002  15 18 25 33 47         30         NaN
1     05/21/2002  04 28 39 41 44          9         NaN
2     05/24/2002  02 04 32 44 52         36         NaN
3     05/28/2002  06 21 22 29 32         24         NaN
4     05/31/2002  12 28 45 46 52         47         NaN
...          ...             ...        ...         ...
1880  06/02/2020  09 20 23 26 29          8         3.0
1881  06/05/2020  32 35 37 47 55         22         3.0
1882  06/09/2020  01 05 09 10 23         22         2.0
1883  06/12/2020  09 14 57 67 70          2         3.0
1884  06/16/2020  21 23 33 35 42          6         3.0

[1885 rows x 4 columns]